@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Source Sans 3", sans-serif;
}

#home {
    color: #fff;
    background: linear-gradient(to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8)),url(/common-bg.svg);
    background-position: center;
    height: 100vh;
    max-height: 120rem;
    position: relative;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 999; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#about {
    background-color: #fafafa; 
    background-position: center;
    height: 100vh;
    max-height: 120rem;
    position: relative;
}

.bg-hexagon {
    background: linear-gradient(to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8)),url(./src/assets/fondo.svg);
    background-position: center;
    height: 900px;
}

.bg-hexagon2 {
    background: linear-gradient(to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8)),url(./src/assets/fondo.svg);
    background-position: center;
    height: 1150px;
}

.header-fijado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 999; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

@keyframes bolita {
    0% {
        transform: translateY(8px);
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50%{
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        transform: translateY(25px);
        opacity: 0;
    }
}